body{
  margin: 0;
  height: 100vh;
}

.word{
  display: flex;
  justify-content: center;
}

.letter{
  width: 20px;
  height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid black;
}
