body{
  margin: 20px;
  height: 100vh;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,ul,li,a,p{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}


.board{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}


