.word{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 300px;
}

.keyBoard{
  margin-bottom: 50px;
}

.letter{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  /* border: 1px solid black; */
  font-weight: 600;
}

.letter:not(:last-child){
  margin-right: 15px;
}

.correct{
  background-color: green;
  color: white;
}

.wrong{
  background-color: red;
  color: white;
}

.guesses{
  font-size: 16px;
}

.guesses span{
  font-size: 25px;
  font-weight: bold;
}

button{
  justify-self: flex-end;
  padding: 10px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: green;
  cursor: pointer;
}

button:focus{
  outline: none;
}

.result{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  animation: result 1s forwards;
}

@keyframes result{
  to{
    transform: translate(-50%, -50%) scale(6);    
  }
}

