.word{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 300px;
}

.letter{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  /* border: 1px solid black; */
  font-weight: 600;
}

.letter:not(:last-child){
  margin-right: 15px;
}

